<div  class="homecont" ng-controller="View1Ctrl">
<img src="img/hands2.png" class="hands"/>

<div class="main-info">
<h1>A Match Made in Real Estate.</h1>
<h3>Finally, a way to get to know your agent before you commit!</h3>
<button class="mainbutton btn btn-default" ng-click="openVideo()" style="margin:0 auto;">Watch Video<span style="top:5px;left:5px;color:#44C6A9;" class="glyphicon glyphicon-play-circle"</button>
</div>

<div class="msm-navigation">
	<img src="img/mysoldmates.png" style="margin: 35px 20px;" />
	<button class="btn btn-default msm-beta-button" ng-click="openBeta()">Beta Sign-Up</button>
</div>
</div>